body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2{
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.5;
}


h3 {
  font-weight: 600;
}

h4{
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: center;
}

.container-fluid {
  padding: 0;
}

.navbar-padding {
  padding-top: 18px;
  padding-bottom: 18px;
}

.nav-text {
    font-size: 1.2rem;
}

#didyouknow {
  background-color: #defcfc;
  padding: 40px 0px;
  text-align: center;
}

#features {
  background-color: #ffe0a3;
  padding: 40px 0px;
  text-align: center;
}

#specs {
  padding-top: 40px;
  padding-bottom: 40px;
}

#contact {
  background-color: black;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
}

#footer {
  background-color: black;
  text-align: center;
  color: white;
  font-size: 0.8rem;
  padding-top: 5px;
  padding-bottom: 5px;
}
.feature-icons {
  color: #ff7657;
  padding: 10px 0px;
}

.contact-header {
  font-size: 2rem;
}
